@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Bienvenido</h1>
    <p class="lead">Gestiona alumnos, materias y asigna materias a distintos alumnos.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Alumno</h2>
        <p>
            Consulta alumnos, registra nuevos, edita su información o elimina su registro.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865"> Ir a Alumno &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Materia</h2>
        <p>Agrega nuevas materias, incluye su costo, edita su información o elimina materias.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Ir a Materias &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2> AlumnoMateria</h2>
        <p>Consulta que materias tienen asiganadas los alumnos, agrega/elimina materias al alumno.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Ir a AlumnoMaterias &raquo;</a></p>
    </div>
</div>